header {
    min-height: 70px;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    background: rgb(26, 32, 44);
    .logo {
        padding: 0.5rem 1rem;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        .eng {
            font-size: 1.2rem;
        }
    }
    nav.pcnav {
        ul {
            margin: 0 1rem;
            list-style: none;
            display: flex;
            justify-content: flex-end;
            height: 100%;
            li {
                margin: 0 1rem;
                display: flex;
                align-items: center;
            }
            a {
                font-size: 1.2rem;
                text-decoration: none;
                color: white;
                border-radius: 8px;
                padding: 8px 15px;
                &.active-link {
                    background: #2b6cb0;
                }
                &:hover {
                    background: #2a4365;
                }
            }
        }
    }
    nav.mnav {
        display: none;
        .toggler {
            height: 100%;
            display: flex;
            align-items: center;
            ul {
                margin-right: 10px;
                li {
                    div {
                        color: white;
                        cursor: pointer;
                        i {
                            // border: 2px solid white;
                            // padding: 3px;
                            // border-radius: 3px;
                        }
                    }
                }
            }
        }
        .myCollapse {
            position: fixed;
            background: white;
            height: 100vh;
            width: 100vw;
            transition: right 0.3s ease;
            right: -100%;
            top: 0;
            z-index: 1;
            .dismiss {
                display: flex;
                justify-content: flex-end;
                a {
                    padding: 0.5rem;
                }
            }
            .nav {
                ul {
                    li {
                        margin: 1rem;
                        display: flex;
                        justify-content: center;
                        a {
                            text-decoration: none;
                            color: gray;
                            font-size: 1.5rem;
                            font-weight: 600;
                            width: 50%;
                            text-align: center;
                            background: cornflowerblue;
                            color: white;
                            padding: 0.5rem;
                            border-radius: 50px;
                            box-shadow: 3px 3px 15px grey;
                        }
                    }
                }
            }
        }
        // .dropdown-container {
        //     position: absolute;
        //     top: 74px;
        //     left: 0px;
        //     width: 100%;
        //     .dropdown {
        //         background: white;
        //         width: 80%;
        //         margin: auto;
        //         ul {
        //             li {
        //                 text-align: center;
        //                 // border-bottom: 2px gray solid;
        //                 a {
        //                     text-decoration: none;
        //                     color: gray;
        //                     font-size: 1.5rem;
        //                     font-weight: 600;
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}

@media screen and (max-width: 550px) {
    header {
        font-size: 1.5rem;
        .logo {
            .eng {
                font-size: 1rem;
            }
        }

        nav.pcnav {
            display: none;
        }
        nav.mnav {
            display: block;
        }
    }
}
