* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main {
    flex: 1;
}

fix-contact {
    position: fixed;
    right: 0;
    // 為了固定在垂直中間
    height: 100%;
    display: flex;
    align-items: center;
    .fix-contact {
        color: white;
        background: green;
        div {
            height: 50px;
            width: 50px;
            &.addline {
                border-top: solid 1px white;
                border-bottom: solid 1px white;
                a {
                    font-size: 18px;
                }
            }
            a {
                height: 100%;
                width: 100%;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: 26px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .PCpart {
        display: none;
    }
    fix-contact {
        display: block;
        font-size: 12px;
        height: 50px;
        width: 100%;
        bottom: 0;
        .fix-contact {
            height: 100%;
            display: flex;
            text-align: center;
            div {
                &.addline {
                    border-top: none;
                    border-bottom: none;
                    border-left: solid 2px white;
                    border-right: solid 2px white;
                }
                flex-grow: 1;
                a {
                    font-size: 2em;
                }
            }
        }
    }
}

.main {
    width: 1260px;
    margin: 0 auto;
    .product {
        display: flex;
        flex-wrap: wrap;
        .productList {
            max-width: 300px;
            flex: 300px 1 1;
            ul {
                margin: 10px;
                list-style: none;
                padding: 0;
                li {
                    text-align: center;
                    background: darkblue;
                    border-radius: 5px;
                    margin: 5px 0;
                    display: flex;
                    &:hover {
                        background: gray;
                    }
                    a {
                        width: 100%;
                        text-decoration: none;
                        color: white;
                        text-align: center;
                        padding: .2rem;
                    }
                }
            }
        }
        .productDetail {
            flex: 300px 1 1;
            img {
                max-width: 100%;
            }
            .catalog-container {
                display: flex;
                .catalog-item {
                    background: #f7f7f7;
                    width: 300px;
                    margin: 10px;
                    // padding: 1rem;
                    text-align: center;
                    a {
                        text-decoration: none;
                        .catalog-item-thumbnail {
                            padding: 1rem 1rem 0 1rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            img {
                                object-fit: contain;
                                height: 350px;
                                border-radius: 10px;
                            }
                        }
                        .catalog-item-description {
                            color: brown;
                            font-size: 1.5rem;
                            padding: .5rem;
                        }
                    }
                }
            }
        }
    }
}

.card-shadow {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.download-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    .download-btn {
        background: green;
        color: white;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
    }
}

@media screen and (max-width:1260px) {
    .main {
        width: 100%;
    }
}

@media screen and (max-width:650px) {
    .main {
        .product {
            div.productList {
                max-width: 100%;
            }
        }
    }
}

.main {
    .index {
        width: 1260px;
        position: relative;
        z-index: -1;
        img {
            width: 100%;
        }
        .scroll-effect-cover {
            position: absolute;
            top: 0;
            right: 0;
            transition: width .35s ease-in;
            width: 100%;
            background: white;
            height: 100%;
        }
    }
}

@media screen and (max-width:1260px) {
    .main {
        .index {
            width: 100%;
        }
    }
}