<header>
    <div class="logo">
        <div>百慕達儀器</div>
        <div class="eng">BMD INSTRUMENT</div>
    </div>

    <nav class="pcnav">
        <ul>
            <li>
                <a href="" ui-sref="index" ui-sref-active="active-link">首頁</a>
            </li>
            <li>
                <a href="" ui-sref="stirrer" ui-sref-active="active-link"
                    >商品列表</a
                >
            </li>
        </ul>
    </nav>

    <nav class="mnav">
        <div class="toggler">
            <ul>
                <li>
                    <div ng-click="vm.toggleDropdown()">
                        <i class="fa fa-bars"></i>
                    </div>
                </li>
            </ul>
        </div>

        <div class="myCollapse">
            <div class="dismiss">
                <a ng-click="vm.toggleDropdown()">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a
                            href=""
                            ui-sref="index"
                            ng-click="vm.toggleDropdown()"
                            >首頁</a
                        >
                    </li>
                    <li>
                        <a
                            href=""
                            ui-sref="stirrer"
                            ng-click="vm.toggleDropdown()"
                            >商品列表</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
